Flask>=3.0.3
Jinja2>=3.1.4
MarkupSafe>=2.1.5
PyYAML>=6.0.2
Werkzeug>=3.0.4
itsdangerous>=2.2.0
tornado>=6.4.1
pathtools3>=0.2.1
requests>=2.32.3
robotframework>=7.0.1
robotframework-requests>=0.9.7
robotframework-seleniumlibrary>=6.6.1
watchdog>=4.0.2
